@import 'utils';

// mobile size
.contents4-row{
  background-color: white;
  padding-top: 100px;
  padding-bottom: 50px;

  .contents4-head{
    text-align: center;
    font-size: x-large;
    font-weight: bold;
  }

  .contents4-subHead{
    text-align: center;
    font-size: medium;
    color: #6c757d!important;
    font-weight: bold;
    margin-bottom: 200px;
  }


  .timeline-image {
    position:absolute;
    width:150px; height:150px;
    margin:auto;
    top:0; bottom:0; left:0; right:0;
    border: 2px solid #e9ecef;
    border-radius: 100%;
    margin-bottom: 20px;
  }

  .contents4-email{
    text-align: center;
    font-size: medium;
    color: #6c757d!important;
    font-weight: bold;
  }

  .content4-icons{
    width: 60px;
    height: 60px;
    color: black;
    &:hover{
      color: darkorange;
      cursor:pointer;
      transform:scale(1.3); /* 마우스 오버시 이미지 크기를 1.1 배만큼 확대시킨다. */
      -o-transform:scale(1.3);
      -moz-transform:scale(1.3);
      -webkit-transform:scale(1.3);

      transition: transform .35s;
      -o-transition: transform .35s;
      -moz-transition: transform .35s;
      -webkit-transition: transform .35s;
      /* 마우스 오버시 이미지가 즉시 커지지않고 30.5 second 의 시간에 걸쳐 커진다 애니메이션 효과*/
    }
  }


  //web size
  @media (min-width: 768px) {
    padding-top: 100px;
    padding-bottom: 50px;
    font-size: 18px;
    line-height: 75px;
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;

    .contents4-head{
      text-align: center;
      font-size: xx-large;
      font-weight: bold;
    }
    .contents4-subHead{
      text-align: center;
      font-size: medium;
      color: #6c757d!important;
      font-weight: bold;
      margin-bottom: 230px;
    }

    .timeline-image {
      position:absolute;
      width:200px; height:200px;
      margin:auto;
      top:0; bottom:0; left:0; right:0;
      border: 2px solid #e9ecef;
      border-radius: 100%;
      margin-bottom: 20px;
    }

    .contents4-email{
      text-align: center;
      font-size: medium;
      color: #6c757d!important;
      font-weight: bold;
    }

    .content4-icons{
      width: 60px;
      height: 60px;
      color: black;
      &:hover{
        color: darkorange;
        cursor:pointer;
        transform:scale(1.3); /* 마우스 오버시 이미지 크기를 1.1 배만큼 확대시킨다. */
        -o-transform:scale(1.3);
        -moz-transform:scale(1.3);
        -webkit-transform:scale(1.3);

        transition: transform .35s;
        -o-transition: transform .35s;
        -moz-transition: transform .35s;
        -webkit-transition: transform .35s;
        /* 마우스 오버시 이미지가 즉시 커지지않고 30.5 second 의 시간에 걸쳐 커진다 애니메이션 효과*/
      }
    }


  }

}

