@import 'utils';

.header-template {
  text-align: center;
  background: $oc-gray-9;
  position: fixed;
  width: 100%;
  z-index: 10000;

  a { color:#999 !important; cursor:pointer}
  .header-toggleNavbar { background-color:#999 !important;}


  .hidden-web {
    display:none;

  }
  .hidden-mobile { display:flex;}

  @media (min-width: 768px) {
    .hidden-web { display:flex;}
    .hidden-mobile { display:none;}
  }

}